*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff3e6;
    color:rgb(68, 68, 68);
}

section{
    padding:60px 50px;
}